.fieldUpdateAjax.trueFalse {
	cursor: pointer;
}
.fieldUpdateAjax.icon-true, .fieldUpdateAjax-disabled.icon-true {
	color: #2E8B57;
}
.fieldUpdateAjax.icon-false, .fieldUpdateAjax-disabled.icon-false {
	color: #dd4b39;
}

/*
 * images (fe/my.css vue)
 */
.content-img-organization {
    width: 100px;
    margin-right: 5px;
    display: inline-block;
}
.img-organization {
    max-width: 100px;
    max-height: 75px;
    display: inline;
    border-radius: 6px;
} 
.img-supplier {
    max-width: 200px;
    max-height: 100px;
    display: inline;
    border-radius: 6px;
}
.content-img-supplier-small {
    width: 100px;
    margin-right: 5px;
    display: inline-block;
}
.img-supplier-small {
    max-width: 100px;
    max-height: 75px;
    display: inline;
    border-radius: 6px;
}
.content-img-article {
    width: 100%;
    text-align: center;
    display: inline-block;
}
.img-article {
    max-width: 300px;
    max-height: 150px;
    display: inline;
}
.content-img-article-small {
  width: 75px;
  text-align: center;
}
.img-article-small {
    /* display: block; */
    display: initial;    
    height: 75px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    width: 75px;
}
.img-article:focus, .img-article:hover,
.img-article-small:focus, .img-article-small:hover,
.img-supplier:focus, .img-supplier:hover,
.img-supplier-small:focus, .img-supplier-small:hover {
    transform: scale(3);
}
.box-bio {
    right: 0;
    padding: 10px;
    position: absolute;
    top: 30px;
    z-index: 1;
}
.box-bio img {
    border-radius: 30px;
    float: left;
    height: 40px;
    margin-right: 5px;
    width: 40px;
} 